<section class="signup">
    <div class="section">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form [formGroup]="registerForm" (ngSubmit)="formSubmit()"
                class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" placeholder="Your Name" formControlName="name"/>
                        <span class="text-danger" *ngIf="f.name.errors && isSubmitted">Please provie Name*</span>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email" formControlName="email"/>
                        <span class="text-danger" *ngIf="f.email.errors && isSubmitted">Please provie valid Email address*</span>
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password" formControlName="password"/>
                        <span class="text-danger" *ngIf="f.password.errors?.required && isSubmitted">Please provie Password*</span>
                        <span class="text-danger" *ngIf="f.password.errors?.minlength && isSubmitted">passwored must contains 8 letters*</span>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" formControlName="confirm_password"/>
                        <span class="text-danger" *ngIf="f.confirm_password.errors?.required && isSubmitted">password and confirm password must match*</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit" class="form-submit" [disabled]="loading">Register
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
                <a routerLink="/account/login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>